<%- include('../users/layouts/userHeader') %>

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/product">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <div class="checkout-discount">
                    <form action="#">
                        <input type="text" class="form-control" required id="checkout-discount-input">
                        <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
                    </form>
                </div><!-- End .checkout-discount -->

                <div class="row">
                    <div class="col-lg-9">
                        <div>
                            <a href="/addaddres2">
                                <button class="btn btn-white" style="margin-bottom: 10px;">Add New Address</button>
                            </a>
                            <div class="row">
                                <% if (add.length > 0) { %> 
                                    <% for (let i = 0; i < add.length; i++) { %>
                                        <div class="col-lg-4" id="myDiv">
											<div class="card card-dashboard">
												<div class="card-body">
													<div class="form-check">
														<input class="form-check-input" type="radio" name="address" id="billingAddress<%=add[i]._id%>"
															value="<%= add[i]._id %>" checked>
														<label class="form-check-label" for="billingAddress<%=add[i]._id%>">Use this address</label>
													</div>
													<h3 class="card-title">Billing Address</h3>
													<!-- Your existing address information goes here -->
													<p>
														<%=add[i].name %><br>
														<%=add[i].houseName %><br>
														<%=add[i].city %><br>
														<%=add[i].state %><br>
														<%=add[i].pin %><br>
														<%=add[i].mobile %><br>
														<%=add[i].email %><br>
														<a href="/editaddress2?id=<%=add[i]._id %>">Edit <i class="icon-edit"></i></a>
                                                        <a
                                                        onclick="removeAddress('<%= add[i]._id %>')"
                                                        class="btn btn-outline-dark btn-rounded"
                                                        ><i class="icon-long-arrow-right">Remove</i></a
                                                      >
													</p>
												</div>
											</div>
										</div>
										
                                    <% } %> 
                                <% } else { %> 
                                    </div><!-- End .row -->
                                    <div class="col-lg-6">
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <h3 class="card-title">Shipping Address</h3>
                                                <!-- End .card-title -->
                                                <p>You have not set up this type of address yet. Please add an address.<br>
                                            </div><!-- End .card-body -->
                                        </div><!-- End .card-dashboard -->
                                    </div><!-- End .col-lg-6 -->
                                <% } %>
                            </div><!-- End .row -->
                        </div><!-- .End .tab-pane -->
                    </div>

                    <aside class="col-lg-3">
                        <div class="summary">
                            <form action="#">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% if (cartData && cartData.products && cartData.products.length > 0) { 
                                            for (var i = 0; i < cartData.products.length; i++) { %>
                                                <tr>
                                                    <td>
                                                        <a href="/product?id=<%= cartData.products[i].product._id %>">
                                                            <%= cartData.products[i].product.name %>.(Set: <%= cartData.products[i].count%>)
                                                        </a>
                                                    </td>
                                                    <td><%= (cartData.products[i].product.price * cartData.products[i].count).toFixed(2) %></td>
                                                </tr>
                                            <% }
                                        } else { %>
                                            <td colspan="5">
                                                <div class="d-flex flex-column align-items-center justify-content-center">
                                                    <i class="icon-shopping-incart"></i>
                                                    <h5 class="text-center">No items in cart</h5>
                                                </div>
                                            </td>
                                        <% } %>

                                        <tr>
                                            <td>Shipping:</td>
                                            <td>Free shipping</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td id="totel"><%=totalAmount%></td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <div class="accordion-summary" id="accordion-payment">
                                    <div class="d-flex align-items-center">
                                        <div class="mr-2">
                                            <input required type="radio" id="COD" name="payment" value="COD" checked />
                                        </div>
                                        <a href="" class="d-block text-dark" for="pay1">Cash On Delivery</a>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <div class="mr-2">
                                            <input required type="radio" id="payment" name="payment" value="onlinePayment"  />
                                        </div>
                                        <a href="" class="d-block text-dark" for="pay2">Online Payment</a>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <div class="mr-2">
                                            <input required type="radio" id="wallet" name="payment" value="wallet" />
                                        </div>
                                        <a href="" class="d-block text-dark" for="pay3">Wallet</a>
                                    </div>
                                </div><!-- End .accordion -->

                                <button  class="btn btn-outline-primary-2 btn-order btn-block" id="placeOrder" class="btn-product btn-cart">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>
                            </form>
                        </div><!-- End .summary -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<script>
  function removeAddress(id) {
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!",
      cancelButtonText: "Cancel",
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: "/removeAddress",
          data: {
            id: id,
          },
          method: "POST", // Changed method to "POST"
          success: (response) => {
            if (response.remove === true) { // Fixed the condition
              location.reload();
            }
          },
        });
      }
    });
  }
</script>
<script>
    var addToCartButtons = document.getElementById('placeOrder');
    addToCartButtons.addEventListener("click", function() {
        let address = $("input[name=address]:checked").val();
        let total = $("#totel").text();
        let payment = $("input[name=payment]:checked").val();
        let productId = $(this).data('product-id');
        console.log(address);

        $.ajax({
            url: "/placeOrder",
            method: "post",
            data: { Total: total, address, payment },
            success: function(response) {
                if (response.success) {
                //     Swal.fire({
                //     position: "top-end",
                //     icon: "success",
                //     title: "Your order is place",
                //     showConfirmButton: false,
                //     timer: 1500
                //    });
               window.location.href = "/orderSuccess"
                } else if (response.notaddress) {
                    Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Address is not available. Please Add address.'
                });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'An error occurred. Please try again.'
                    });
                }
            },
            error: function(xhr, status, error) {
                console.error("AJAX request failed:", status, error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'An error occurred. Please try again.'
                });
            }
        });
    });
</script>






<%- include('../users/layouts/footer2') %>
