<%- include('../users/layouts/userHeader') %>

        <main class="main">
            <div class="intro-slider-container">
                <div class=" owl-simple owl-light owl-nav-inside" data-toggle="owl" data-owl-options='{"nav": false}'>
                    <div class="intro-slide" style="background-image: url(/user/assets/images/demos/demo-2/slider/slide-1.jpg);">
                        <div class="container intro-content">
                            <h3 class="intro-subtitle">Bedroom Furniture</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title">Find Comfort <br>That Suits You.</h1><!-- End .intro-title -->

                            <a href="/product" class="btn btn-primary">
                                <span>Shop  Now</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>
                        </div><!-- End .container intro-content -->
                    </div><!-- End .intro-slide -->

                

                </div><!-- End .owl-carousel owl-simple

                <span class="slider-loader text-white"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->

            <div class="brands-border owl-carousel owl-simple" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": false,
                    "margin": 0,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "420": {
                            "items":3
                        },
                        "600": {
                            "items":4
                        },
                        "900": {
                            "items":5
                        },
                        "1024": {
                            "items":6
                        },
                        "1360": {
                            "items":7
                        }
                    }
                }'>
                <a href="#" class="brand">
                    <img src="/user/assets/images/brands/1.png" alt="Brand Name">
                </a>
                
                <a href="#" class="brand">
                    <img src="/user/assets/images/brands/2.png" alt="Brand Name">
                </a>
                
                <a href="#" class="brand">
                    <img src="/user/assets/images/brands/3.png" alt="Brand Name">
                </a>
                
                <a href="#" class="brand">
                    <img src="/user/assets/images/brands/4.png" alt="Brand Name">
                </a>
                
                <a href="#" class="brand">
                    <img src="/user/assets/images/brands/5.png" alt="Brand Name">
                </a>
                
                <a href="#" class="brand">
                    <img src="/public/user/assets/images/brands/6.png" alt="Brand Name">
                </a>
                
                <a href="#" class="brand">
                    <img src="/user/assets/images/brands/7.png" alt="Brand Name">
                </a>
                
            </div><!-- End .owl-carousel -->

            <div class="mb-3 mb-lg-5"></div><!-- End .mb-3 mb-lg-5 -->

            <div class="banner-group">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-5">
                            <div class="banner banner-large banner-overlay banner-overlay-light">
                                <a href="#">
                                    <img src="/user/assets/images/demos/demo-2/banners/banner-1.jpg" alt="Banner">
                                </a>

                                <div class="banner-content banner-content-top">
                                    <h4 class="banner-subtitle">Clearence</h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title">Coffee Tables</h3><!-- End .banner-title -->
                                    <div class="banner-text">from  ₹19.99</div><!-- End .banner-text -->
                                    <a href="/product" class="btn btn-outline-gray banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-5 -->

                        <div class="col-md-6 col-lg-3">
                            <div class="banner banner-overlay">
                                <a href="/product">
                                    <img src="/user/assets/images/demos/demo-2/banners/banner-2.jpg" alt="Banner">
                                </a>

                                <div class="banner-content banner-content-bottom">
                                    <h4 class="banner-subtitle text-grey">On Sale</h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white">Amazing <br>Armchairs</h3><!-- End .banner-title -->
                                    <div class="banner-text text-white">from  ₹39.99</div><!-- End .banner-text -->
                                    <a href="/product" class="btn btn-outline-white banner-link">Discover Now<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-3 -->

                        <div class="col-md-6 col-lg-4">
                            <div class="banner banner-overlay">
                                <a href="#">
                                    <img src="/user/assets/images/demos/demo-2/banners/banner-3.jpg" alt="Banner">
                                </a>

                                <div class="banner-content banner-content-top">
                                    <h4 class="banner-subtitle text-grey">New Arrivals</h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white">Storage <br>Boxes & Baskets</h3><!-- End .banner-title -->
                                    <a href="/product" class="btn btn-outline-white banner-link">Discover Now<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->

                            <div class="banner banner-overlay banner-overlay-light">
                                <a href="#">
                                    <img src="/user/assets/images/demos/demo-2/banners/banner-4.jpg" alt="Banner">
                                </a>

                                <div class="banner-content banner-content-top">
                                    <h4 class="banner-subtitle">On Sale</h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title">Lamps Offer</h3><!-- End .banner-title -->
                                    <div class="banner-text">up to 30% off</div><!-- End .banner-text -->
                                    <a href="/product" class="btn btn-outline-gray banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .banner-group -->

           
            

            <div class="mb-5"></div><!-- End .mb-5 -->

            <div class="bg-light deal-container pt-5 pb-3 mb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="deal">
                                <div class="deal-content">
                                    <h4>Limited Quantities</h4>
                                    <h2>Deal of the Day</h2>

                                    <h3 class="product-title"><a href="/product">POÄNG</a></h3><!-- End .product-title -->

                                    <div class="product-price">
                                        <span class="new-price"> ₹149.00</span>
                                        <span class="old-price">Was  ₹240.00</span>
                                    </div><!-- End .product-price -->

                                    <div class="deal-countdown" data-until="+10h"></div><!-- End .deal-countdown -->

                                    <a href="/product" class="btn btn-primary">
                                        <span>Shop Now</span><i class="icon-long-arrow-right"></i>
                                    </a>
                                </div><!-- End .deal-content -->
                                <div class="deal-image">
                                    <a href="product.html">
                                        <img src="/user/assets/images/demos/demo-2/deal/product-1.jpg" alt="image">
                                    </a>
                                </div><!-- End .deal-image -->
                            </div><!-- End .deal -->
                        </div><!-- End .col-lg-9 -->

                        <div class="col-lg-3">
                            <div class="banner banner-overlay banner-overlay-light text-center d-none d-lg-block">
                                <a href="#">
                                    <img src="/user/assets/images/demos/demo-2/banners/banner-5.jpg" alt="Banner">
                                </a>

                                <div class="banner-content banner-content-top banner-content-center">
                                    <h4 class="banner-subtitle">The Best Choice</h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title">AGEN</h3><!-- End .banner-title -->
                                    <div class="banner-text text-primary"> ₹49.99</div><!-- End .banner-text -->
                                    <a href="/product" class="btn btn-outline-gray banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .bg-light -->

            <div class="mb-6"></div><!-- End .mb-6 -->

            <div class="container">
                <div class="heading heading-center mb-3">
                    <h2 class="title">Top Selling Products</h2><!-- End .title -->
                </div><!-- End .heading -->
                

                <div class="tab-content">
                    <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel" aria-labelledby="top-all-link">
                        <div class="products">
                            <div class="row justify-content-center">
                                <% products.slice(0, 4).forEach(product => { %>
                                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                                        <div class="product product-11 text-center">
                                            <figure class="product-media">
                                                <a href="/productdeteal?id=<%= product._id %>">
                                                    <img src="/products/crope/<%= product.images.image1 %>" alt="Product image" class="product-image">
                                                </a>
                            
                                                <div class="product-action-vertical">
                                                    <a onclick="addWishlist('<%= product._id %>')" class="btn-product-icon btn-wishlist btn-expandable">
                                                        <span>add to wishlist</span>
                                                    </a>
                                                </div><!-- End .product-action -->
                            
                                                <div class="product-action">
                                                    <% if(product.quantity === 0) { %>
                                                        <a style="cursor: pointer;" id="noStockBtn" class="btn-product btn-cart text-danger">
                                                            <span>No Stock</span>
                                                        </a>
                                                    <% } else { %>
                                                        <a style="cursor: pointer;" id="addtocart" data-product-id="<%= product._id %>" class="btn-product btn-cart">
                                                            <span>add to cart</span>
                                                        </a>
                                                    <% } %>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->
                            
                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a><%= product.categoryName %></a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title">
                                                    <a href="/product?id=<%= product._id %>"><%= product.name %></a>
                                                </h3><!-- End .product-title -->
                                                <div class="product-price">₹ <%= product.price %></div><!-- End .product-price -->
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 20%;"></div>
                                                    </div>
                                                    <span class="ratings-text">( 2 Reviews )</span>
                                                </div>
                                            </div>
                            
                                            <div class="product-action">
                                                <% if(product.quantity === 0) { %>
                                                    <a style="cursor: pointer;" id="noStockBtn" class="btn-product btn-cart text-danger">
                                                        <span>No Stock</span>
                                                    </a>
                                                <% } else { %>
                                                    <a href="/productdeteal?id=<%= product._id %>" class="btn-product btn-cart">
                                                        <span>Buy Now</span>
                                                    </a>
                                                <% } %>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                                <% }); %>
                            </div><!-- End .row -->
                            
                        </div><!-- End .products -->
                    </div><!-- .End .tab-pane -->
                  
                          
                  
                   
                </div><!-- End .tab-content -->
            </div><!-- End .container -->

            <div class="container">
                <hr class="mt-1 mb-6">
            </div><!-- End .container -->
            
           >
        </main><!-- End .main -->
        <script>

            function addWishlist(productId) {
                $.ajax({
                  url: "/addToWishlist",
                  method: "post",
                  data: {
                    id: productId,
                  },
                  success: (response) => {
                    if (response.login == true) {
                      swal
                        .fire({
                          icon: "warning",
                          title: "Please Login",
                          confirmButtonText: "Login",
                          showCancelButton: true,
                          cancelButtonColor: "#d33",
                          text: response.message,
                        })
                        .then((result) => {
                          if (result.isConfirmed) {
                            window.location.href = "/login";
                          }
                        });
                    } else if (response.exist == true) {
                      swal.fire({
                        position: "center",
                        icon: "warning",
                        title: "This product already in your wishlist",
                        showConfirmButton: false,
                        timer: 1500,
                      });
                    } else if (response.success) {
                      swal.fire({
                        position: "center",
                        icon: "success",
                        title: "Product added to your Wishlist",
                        showConfirmButton: false,
                        timer: 1500,
                      });
                    }
                  },
                });
              }
              </script>
        <script>
            $(document).ready(function () {
                $('#noStockBtn').on('click', function () {
                    Swal.fire({
                        title: "Error",
                        text: "No stock available.",
                        icon: "error"
                    });
                    // You can replace Swal.fire with a more sophisticated UI element or action.
                });
            });
            document.addEventListener("DOMContentLoaded", function () {
                // Use querySelectorAll to select all elements with the class 'btn-cart'
                var addToCartButtons = document.querySelectorAll('.btn-cart');
        
                // Add a click event listener to each button
                addToCartButtons.forEach(function (button) {
                    button.addEventListener('click', function () {
                        var productId = this.getAttribute('data-product-id');
                        
        
                        // Use fetch to send a POST request with the product ID in the request body
                        $.ajax({
                            url:'/addtocart',
                            method:"post",
                            data:{id:productId},
                            success:((response)=>{
                                console.log(response);
                             if(response.noUser){
                                window.location.href = "/login"
                            }
        
                            if(response.added){
        
                               Swal.fire({
                                title: "Item Added in Cart!",
                                text: "You clicked the button!",
                                icon: "success"
                            });
                            }
                           if(response.nostoked){
                            Swal.fire({
                        title: "Error",
                        text: "out of stock.you have added the entire stock th the cart",
                        icon: "error"
                    });                    }
                            })
                        })
                
                    });
                });
            });
        </script>

       <!-- Plugins JS File -->
    
    
        <%- include('../users/layouts/footer') %>
                  